::-webkit-input-placeholder {
	color: #000;
}

:-moz-placeholder { /* Firefox 18- */
	color: #000;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #000;
}

:-ms-input-placeholder {
	color: #000;
}

.adicionar {
	text-align: center;
}

.setinha {
	display: block;
	padding: 10px;
	background-color: #03A9F4;
	float: left;
	position: absolute;
	top: 0px;
}

.addInst input {
	margin-left: 2px !important;
}

.linhaTabela:hover {
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.side-nav li {
	text-align: center;
}

header, main, footer {
	padding-left: 240px !important;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0 !important;
	}
}

.brand-logo img {
	width: 240px !important;
	margin-left: -16px !important;
}

.brand-logo {
	height: 240px !important;
}

.logo-cad {
	width: 56px !important;
	height: 56px !important;
}

.centralizar {
	width: 50% !important;
	height: 50% !important;
	margin: auto !important;
}

.centralizar input {
	width: 50% !important;
}

@media only screen and (max-width : 992px) {
	.centralizar {
		width: 50% !important;
		height: 50% !important;
		margin: 25% auto !important;
	}
	.centralizar input {
		width: 100% !important;
	}
}

.centralizar a img {
	width: 50% !important;
	margin: auto !important;
}

.logout {
	position: absolute;
	bottom: 64px;
	width: 240px;
}

li {
	font-weight: bold !important;
}